* {
    margin: 0;
    padding: 0;
    /* border: 0;
      outline: none; */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: transparent;
    font-family: inherit;
    text-decoration: none;
  }
  
  ol, ul, li {
    list-style: none;
    display: block;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  a img {
    border: none;
  }
  
  button, a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  /* select, input*/
  button, textarea {
    -moz-appearance: none !important;
         appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0;
  }
  
  body {
    font-family: 'Rubik', sans-serif;
    background-color: #f1efeb;
  }
  
  div#root {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    /* margin: auto; */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px #afaeae;
            box-shadow: 5px 5px 10px #afaeae;
  }
  
  #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 17px;
  }
  
  .titleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  h1 {
    font-size: 20px;
    padding: 10px;
    margin: auto;
  }
  
  label {
    /* display: block; */
    margin-top: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="file"], select {
    width: 100%;
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="text"]:focus, input[type="email"]:active, input[type="file"]:active {
    border-color: chocolate;
  }
  
  button {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    line-height: 28px;
    background-color: burlywood;
  }
  
  button:hover {
    background-color: chocolate;
    -webkit-box-shadow: 3px 3px 5px #afaeae;
            box-shadow: 3px 3px 5px #afaeae;
  }

  form div {
    padding-top: 7px;
  }