* {margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    
    background: transparent;
  
    font-family: inherit;
    text-decoration: none; 
  }

  ol, ul, li {
    display: block;
    list-style: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  a img {
    border: none;
  }
  
  button, a {
    color: inherit;
    cursor: pointer;
  }
  
  textarea {
    resize: none;
  }
  
  button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important; 
    border-radius: 0;
  }

body {
    background-color: #ffe0e9;
}

  #root {
      display: flex;
      flex-wrap: wrap;
      height: 100vh;
      justify-content: space-evenly;
      align-items: center; 
  }

#root div {
    display: flex;

    margin: 15px;
    padding: 40px;


    border: 1px dotted #8a2846;
    border-radius: 20px;
    box-shadow: 0px 0px 7px #ffc2d4;
    background-color: #ffe0e9;

    font-family: 'Arimo', sans-serif;
    font-size: 2rem;
    font-weight: 400;;
    color:#522e38;
    text-decoration: none;

    transition: text-decoration .3s, transform 1s, background-color .1s, font-style .3s, box-shadow .3s;
}

#root div:hover {
    background: linear-gradient(132deg, #8a2846, #b9375e, #e05780);
    box-shadow: 0px 0px 10px #e05780;
    font-style: italic;
    text-decoration: underline wavy 0.2rem #602437;
    transform: scale(1.2) rotate(360deg);
}