* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
  
    text-decoration: none;
  }
  
  a img {
    border: none
  }
  
  button, a {
    cursor: pointer;
    color: inherit
  }
  
  body {
    background-color: #E6E6E6;
    color: #138073;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500; /*medium*/
  }

  .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  h1 {
      font-size: 24px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-weight: 900;
  }

  form {
      display: flex;
      flex-direction: column;
      text-align: center;
  }

  input {
      height: 64px;
      width: 100%;
      margin-top: 25px;
      background-color: #fff;
      border: solid 1px #808080;
      text-indent: 20px;
  }

::placeholder {
    margin-top: 25px;
    color: #138073;
    font-size: 16px;
    opacity: 0.7;
    font-weight: 500;
  }

  #terms {
      display: flex;
      text-align: left;

      width: 100%;
      margin-top: 25px;
  }

  #checkboxBox {
      align-self: center;
  }

  #checkbox {
      width: 20px;
      height: 20px;
      margin: 0;
  }

  label {
    padding-left: 10px;
  }

  a {
      text-decoration: underline #39b69f;
  }

  .button {
      text-align: center;
  }

  button {
      background-color: #39B69F;
      color: #fff;
      border: 1.5px #fff solid;

      margin-top: 40px;
      height: 70px;
      width: 55%;
      padding: 20px;


      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.2em;
      text-transform: uppercase;
  }
 
 @media screen and (max-width: 900px) {
    h1 {
        text-align: right;
    }
    
    .container {
        width: 100%;
        padding: 0 30px;
    }
  }